
<div class="cta-button"><button ng-click="model.onClick()">Provocate Idea</button></div>
<div class="container">
    <div class="left-result-col">
        <div class="dataset-content">
            <div class="dataset-image"><image src={{model.resultArtists.image}}></div>       
            <div class"dataset-title"> {{model.resultArtists.id}}</div>
            <div> {{model.resultArtists.description}}</div>
        </div>
     </div>

     <div class="right-result-col">
        <div class="dataset-content">
            <div class="dataset-image"><image src={{model.resultSenses.image}}></div>       
            <div class"dataset-title"> {{model.resultSenses.id}}</div>
            <div> {{model.resultSenses.description}}</div>
        </div>
    </div>
</div>
